@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: head;
    src: url(./assets/Heading-Now-Variable.ttf);
}
@font-face {
    font-family: primary;
    src: url(./assets/Rejouice-Headline.woff2);
}
@font-face {
    font-family: secondary;
    src: url(./assets/NBInternationalProBoo.woff2);
}


#page2 span{
   display: block;
}

#page1-cont span{
    display: inline-block;
}